body {
    font-family: Calibri;
    margin: 0;
    width: 100vw;
}
body > div:after {clear: both;}
/* Header*/
.header {
    background-color: #999999;
    color: black;
    float: left;
    margin: 0;
    padding: 1em 0;
    width: 100%;
}
.header > div {display: inline-block;}
.header > div:first-child {position: absolute;}
.header > div:last-child {
    margin: auto;
    text-align: center;
    width: 100%;
}

/* Navigasi */
.nav {
    background-color: #C0C0C0;
    margin: auto;
    text-align: center;
    width: 100%;
}
.nav > a {
    color: black;
    display: inline-block;
    font: bold;
    padding: 1em 2em;
    text-decoration: none;
}
.nav > a:hover {
    background-color:#CCCCCC;
}

/*Isi*/
.container {
    height: 80vh;
    background-color: #FFFFFF;
    float: right;
    width: 100%;
     background:-webkit-linear-gradient(top,#999999 0%,#FFFFFF 10%);
     background:-moz-linear-gradient(top,#999999 0%,#FFFFFF 10%);
     background:-o-linear-gradient(top,#999999 0%,#FFFFFF 10%);
     background:-ms-linear-gradient(top,#999999 0%,#FFFFFF 10%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999',endColorstr='#FFFFFF',GradientType=0);
}

.container > div:last-child {
    float: left;
}

}
.masukkan {
    margin-left: 50px;
}

/*Footer*/
.footer {
    background-color: #999999;
    color: black;
    margin: auto;
    padding: 2em;
    text-align: center;
}